body {
    background-image: url("QR1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}



.qr-box h1 {
    color: white;
}

input {
    max-width: 500px;
    margin: 0 auto;
}

canvas {
    margin-top: 20px;
}

.qr-box {
    background-color: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

/* .qr-box {
    background-color: rgb(42, 42, 53);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    border: 2px solid gold;
} */


.qr-box {
    background-color: rgb(37, 63, 133);
    padding: 30px;
    border-radius: 16px;
    border: 2px solid goldenrod;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 12px rgba(144, 104, 224, 0.25),
        0 0 32px rgba(144, 104, 224, 0.15);
}